
body{
background:linear-gradient(135deg,#667eea,#764ba2);
height:100vh;
display:flex;
align-items:center;
justify-content:center;
font-family:Arial;
}
.box{
background:white;
padding:30px;
border-radius:12px;
text-align:center;
width:320px;
box-shadow:0 15px 30px rgba(0,0,0,.3);
}
button,select{
width:100%;
padding:10px;
margin-top:10px;
border-radius:8px;
border:none;
}
button{
background:#667eea;
color:white;
cursor:pointer;
}
